<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>颗点三结义</title>
</head>
<body>
<h1>颗点links</h1>
<h3><a href="admin/">管理/get：iecas.win/admin</a></h3>
<h3><a href="update/">更新app/get：iecas.win/update/</a></h3>
<h3><a href="register/">注册、激活/get、post：iecas.win/register/</a></h3>
<h3><a href="login/">登录/post：iecas.win/login/</a></h3>
<h3><a href="reset/">修改密码/get、post：iecas.win/reset/</a></h3>
{#<h3><a href="reset/avatar/">修改头像/post：iecas.win/reset/avatar/</a></h3>#}
<h3><a href="news/">新文列表/get：iecas.win/news/</a></h3>
<h3><a href="news/110/">分享/get：iecas.win/news/110/</a></h3>
<h3><a href="news/110/detail/">详情/get：iecas.win/news/110/detail/</a></h3>
<h3><a href="news/110/comments/">评论/post：iecas.win/news/110/comments/</a></h3>
</body>
</html>